<a href="https://colab.research.google.com/github/Katrine23/FinalWebPro/blob/master/drive_datacleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import pandas as pd
travel_df = pd.read_csv('travel-times.csv')

In [6]:
travel_df.head()

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Comments
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,NaN,39.3,36.3,No,NaN
1,1/6/2012,8:20,Friday,GSK,51.63,130.3,81.8,88.9,NaN,37.9,34.9,No,NaN
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,NaN,37.5,35.9,No,NaN
3,1/4/2012,7:53,Wednesday,GSK,49.17,132.3,74.2,82.9,NaN,39.8,35.6,No,NaN
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,NaN,36.8,34.8,No,NaN

In [7]:
travel_df.describe()

,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,TotalTime,MovingTime
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,50.981512,127.591707,74.477561,81.975610,41.904390,37.871707
std,1.321205,4.128450,11.409816,10.111544,6.849476,4.835072
min,48.320000,112.200000,38.100000,50.300000,28.200000,27.100000
25%,50.650000,124.900000,68.900000,76.600000,38.400000,35.700000
50%,51.140000,127.400000,73.600000,81.400000,41.300000,37.600000
75%,51.630000,129.800000,79.900000,86.000000,44.400000,39.900000
max,60.320000,140.900000,107.700000,112.100000,82.300000,62.400000

In [8]:
travel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            205 non-null    object
 1   StartTime       205 non-null    object
 2   DayOfWeek       205 non-null    object
 3   GoingTo         205 non-null    object
 4   Distance        205 non-null    float64
 5   MaxSpeed        205 non-null    float64
 6   AvgSpeed        205 non-null    float64
 7   AvgMovingSpeed  205 non-null    float64
 8   FuelEconomy     188 non-null    object
 9   TotalTime       205 non-null    float64
 10  MovingTime      205 non-null    float64
 11  Take407All      205 non-null    object
 12  Comments        24 non-null     object
dtypes: float64(6), object(7)
memory usage: 20.9+ KB

In [9]:
travel_df.drop(labels=['Comments'],axis=1,inplace=True)

In [10]:
travel_df.head()

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,NaN,39.3,36.3,No
1,1/6/2012,8:20,Friday,GSK,51.63,130.3,81.8,88.9,NaN,37.9,34.9,No
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,NaN,37.5,35.9,No
3,1/4/2012,7:53,Wednesday,GSK,49.17,132.3,74.2,82.9,NaN,39.8,35.6,No
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,NaN,36.8,34.8,No

In [11]:
travel_df.head(n=10)

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,NaN,39.3,36.3,No
1,1/6/2012,8:20,Friday,GSK,51.63,130.3,81.8,88.9,NaN,37.9,34.9,No
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,NaN,37.5,35.9,No
3,1/4/2012,7:53,Wednesday,GSK,49.17,132.3,74.2,82.9,NaN,39.8,35.6,No
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,NaN,36.8,34.8,No
5,1/3/2012,7:57,Tuesday,GSK,51.80,135.8,84.5,88.8,NaN,36.8,35.0,No
6,1/2/2012,17:31,Monday,Home,51.37,123.2,82.9,87.3,-,37.2,35.3,No
7,1/2/2012,7:34,Monday,GSK,49.01,128.3,77.5,85.9,-,37.9,34.3,No
8,12/23/2011,8:01,Friday,GSK,52.91,130.3,80.9,88.3,8.89,39.3,36.0,No
9,12/22/2011,17:19,Thursday,Home,51.17,122.3,70.6,78.1,8.89,43.5,39.3,No

In [12]:
travel_df['FuelEconomy'].dtype

dtype('O')

In [13]:
travel_df['FuelEconomy'] = pd.to_numeric(travel_df['FuelEconomy'],errors='coerce')

In [14]:
travel_df.head(n=10)

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,NaN,39.3,36.3,No
1,1/6/2012,8:20,Friday,GSK,51.63,130.3,81.8,88.9,NaN,37.9,34.9,No
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,NaN,37.5,35.9,No
3,1/4/2012,7:53,Wednesday,GSK,49.17,132.3,74.2,82.9,NaN,39.8,35.6,No
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,NaN,36.8,34.8,No
5,1/3/2012,7:57,Tuesday,GSK,51.80,135.8,84.5,88.8,NaN,36.8,35.0,No
6,1/2/2012,17:31,Monday,Home,51.37,123.2,82.9,87.3,NaN,37.2,35.3,No
7,1/2/2012,7:34,Monday,GSK,49.01,128.3,77.5,85.9,NaN,37.9,34.3,No
8,12/23/2011,8:01,Friday,GSK,52.91,130.3,80.9,88.3,8.89,39.3,36.0,No
9,12/22/2011,17:19,Thursday,Home,51.17,122.3,70.6,78.1,8.89,43.5,39.3,No

In [15]:
travel_df['FuelEconomy'].fillna(travel_df['FuelEconomy'].mean(),inplace=True)

In [17]:
travel_df.head(n=10)

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,8.690591,39.3,36.3,No
1,1/6/2012,8:20,Friday,GSK,51.63,130.3,81.8,88.9,8.690591,37.9,34.9,No
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,8.690591,37.5,35.9,No
3,1/4/2012,7:53,Wednesday,GSK,49.17,132.3,74.2,82.9,8.690591,39.8,35.6,No
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,8.690591,36.8,34.8,No
5,1/3/2012,7:57,Tuesday,GSK,51.80,135.8,84.5,88.8,8.690591,36.8,35.0,No
6,1/2/2012,17:31,Monday,Home,51.37,123.2,82.9,87.3,8.690591,37.2,35.3,No
7,1/2/2012,7:34,Monday,GSK,49.01,128.3,77.5,85.9,8.690591,37.9,34.3,No
8,12/23/2011,8:01,Friday,GSK,52.91,130.3,80.9,88.3,8.890000,39.3,36.0,No
9,12/22/2011,17:19,Thursday,Home,51.17,122.3,70.6,78.1,8.890000,43.5,39.3,No

In [44]:
import pandas as pd
from sklearn.linear_model import LinearRegression

# Load data
data = pd.read_csv('travel-times.csv')

# Select variables X and Y
X = data['Distance'].values.reshape(-1, 1)
Y = data['AvgMovingSpeed'].values.reshape(-1, 1)

# Build linear regression model
model = LinearRegression().fit(X, Y)

# Predict the speed for a distance of 40 km
new_distance = [[90]]
predicted_speed = model.predict(new_distance)

print('Predicted speed for a distance of 90 km:', predicted_speed[0][0])

Predicted speed for a distance of 90 km: 85.52153114754125

In [50]:
import pandas as pd
from sklearn.linear_model import LinearRegression

# Load data
data = pd.read_csv('travel-times.csv')

# Select variables X and Y
X = data[['Distance', 'MaxSpeed']]
Y = data['AvgMovingSpeed'].values.reshape(-1, 1)

# Build linear regression model
model = LinearRegression().fit(X, Y)

# Predict speed for a distance of 50 km taking 407
distance = 50
max_speed = 100
predicted_speed = model.predict([[distance, max_speed]])

print('Predicted speed:', predicted_speed[0][0])

Predicted speed: 64.49246007253765

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [41]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Load data
data = pd.read_csv('travel-times.csv')

# Select variables X and Y
X = data[['Distance','MaxSpeed']]#.values.reshape(-1, 1)
Y = data['AvgMovingSpeed'].values.reshape(-1, 1)

# Build linear regression model
model = LinearRegression().fit(X, Y)

# Make predictions on the entire dataset
Y_pred = model.predict(X)

# Compute mean squared error
mse = mean_squared_error(Y, Y_pred)

print('Mean squared error:', mse)

Mean squared error: 94.91356129760442